/* header color
.anchor{
    text-decoration: none;
}
.anchor:hover{
    border: 1px solid red;
}
.inside-main-carousel img{
    height: 500px;
}
/* footer color change  
.text-color{
    color: black;
}
.btn-color{
    color: red;
}

 */
